@import './variables';

.container {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.grid--row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  display: flex;
  flex: 1;
  padding: 10px;
}

.col-2 {
  @extend .col;
  flex: none;
  width: 100%;

  @media(min-width: $screen-size-sm) {
    width: 20%;
  }
}

.col-4 {
  @extend .col;
  flex: none;
  width: 100%;

  @media(min-width: $screen-size-sm) {
    width: 25%;
  }
}

.col-10 {
  @extend .col;
  flex: none;
  width: 100%;

  @media(min-width: $screen-size-sm) {
    width: 80%;
  }
}
