.button {
  background: transparent;
  border: 1px solid gray;
  font-size: 0.75em;
  padding: 5px 10px;
}

.button--primary {
  background-color: greenyellow;
  color: gray;
}

.button--primary {
  background-color: lightskyblue;
  color: darkslateblue;
}
